nav{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.875rem;

    height: 140px;
}

nav a img{
    width: 216px;
    height: 101px;
    margin-left: 46px;
    margin-top: 39px;
}

nav a[href="a_propos.html"] {
    width: 118px;
    height: 37px;
    margin-right: 69px;
    margin-top: 56px;
    float: right;
}

nav a[href="page_contact.html"] {
    width: 102px;
    height: 37px;
    margin-right: 46px;
    margin-top: 56px;
    float: right;
}

nav a {
    text-decoration: none;
    color: black;
}