body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.logo{
    border-radius: 45%;
    border-color: black;
    border-style: solid;
    display: block;
    width: 5%;
    text-align: center;
    margin-left: 150px;
    height: 40px;
}

nav{
    position: absolute;
}

nav.contact{
    font-size: 1.5rem;
    right: 2%;
    top: 20px;
    font-family: 'Roboto', sans-serif;    
    text-decoration: none;
    color: black;
}

.contact a{
    text-decoration: none;
    color: black;
}

nav.a_propos{
    font-size: 1.5rem;
    right: 7%;
    top: 20px;
    font-family: 'Roboto', sans-serif;
}

.a_propos a{
    text-decoration: none;
    color: black;
}

.titre{
    text-align: left;
    margin-top: 200px;
    margin-left: 400px;
    font-size: 5rem;
}

.degrade{
    background: linear-gradient(to left, #1B3D6C, #679CE2, #A4DDF3);
    height: 2300px;
}

.dessin_info{
    width: 750px;
    height: 500px;
    position: absolute;
    left: 1000px;
    top: 200px;
}

.sous_titre{
    font-size: 2rem;
    width: 50%;
    margin-left: 10%;
    text-align: center;
    position: relative;
    top: 300px;
    color: white;
}

.icone_parent{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    top: 420px
}

.icone{
    height: 200px;
    width: 250px;
    margin-left: 10px;
}

.icone_dev_web{
    height: 205px;
    width: 290px;
    margin-left: 10px;
}

.icone_inte_web{
    height: 205px;
    width: 280px;
    margin-left: 10px;
}
.fiche{
    background-color: white;
    position: relative;
    top: 500px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10%;
}

header{
    padding: 50px;
}

main{
    margin-top: 15px;
    column-count: 2;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    height: 1200px;
}

.apo_citation1_info{
    position: absolute;
    width: 75px;
    height: 65px;
}

.citation1{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #75A6E6;
    border-radius: 10%;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.apo_citation1_all{
    position: absolute;
    width: 60px;
    height: 50px;
    left: 625px;
    top: 835px;
}

.apo_citation2_info{
    position: absolute;
    width: 75px;
    height: 65px;
}

.citation2{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #2D5388;
    border-radius: 10%;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.apo_citation2_all{
    position: absolute;
    width: 60px;
    height: 50px;
    right: 60px;
    top: 670px;
}

.apo_citation3_info{
    position: absolute;
    width: 75px;
    height: 65px;
}

.citation3{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #A4C6F3;
    border-radius: 10%;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.apo_citation3_all{
    position: absolute;
    width: 60px;
    height: 50px;
    right: 65px;
    top: 1150px;
}

.personnage{
    position: absolute;
    height: 100px;
    width: 100px;
    right: 50px;
    top: 250px;
}

.break_after{
    break-after: column;
}

.suivant{
    text-align: end;
    font-size: 2rem;
    position: relative;
    top: 0px;
    margin-right: 30px;
}

.prefere{
    text-align: center;
    font-size: 2rem;
    position: relative;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
}

.fleche{
    text-align: center;
    font-size: 2rem;
    position: relative;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    margin-bottom: 60px;
}

.accueil_com{
    text-decoration: none;
    color: black;
}