body{
    margin: 0;
    min-height: 100vh;
    position: relative;
}

header{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.logo{
    margin-left: 15px;
    border-radius: 45%;
    border-style: solid;
    width: 5%;
    text-align: center;
    height: 40px;
}

nav{
    position: absolute;
}

nav.contact{
    font-size: 1.5rem;
    right: 2%;
    top: 20px;
    font-family: 'Roboto', sans-serif;    
    text-decoration: none;
    color: black;
}

.contact a{
    text-decoration: none;
    color: black;
}

nav.a_propos{
    font-size: 1.5rem;
    right: 7%;
    top: 20px;
    font-family: 'Roboto', sans-serif;
}

.a_propos a{
    text-decoration: none;
    color: black;
}

main{
    display: flex;
    flex-direction: row;
}

.main{
    display: flex;
    flex-direction: column;
}

.passez{
    font-size: 2.5rem;
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.passez a{
    text-decoration: none;
    color: black;
}

.voyante{
    margin: auto;
}

.voyante_accueil{
    height: 631px;
    width: 693px;
}

.voyante_com{
    height: 594px;
    width: 528px;
}

.voyante_info{
    height: 600px;
    width: 462px;
}

.voyante_quizz{
    height: 606px;
    width: 445px;
}

.entrez{
    font-size: 2.5rem;
    margin: auto;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.entrez a{
    text-decoration: none;
    color: black;
}