body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.logo{
    border-radius: 45%;
    border-color: black;
    border-style: solid;
    display: block;
    width: 5%;
    text-align: center;
    margin-left: 150px;
    height: 40px;
}

nav{
    position: absolute;
}

nav.contact{
    font-size: 1.5rem;
    right: 2%;
    top: 20px;
}

nav.a_propos{
    font-size: 1.5rem;
    right: 7%;
    top: 20px;
}

.voyante{
    margin: auto;
    height: 631px;
    width: 693px;
}

.entrez{
    text-align: right;
    font-size: 2.5rem;
    margin: auto;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.entrez a{
    text-decoration: none;
    color: black;
}