body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.logo{
    border-radius: 45%;
    border-color: black;
    border-style: solid;
    display: block;
    width: 5%;
    text-align: center;
    margin-left: 150px;
    height: 40px;
}

nav{
    position: absolute;
}

nav.contact{
    font-size: 1.5rem;
    right: 2%;
    top: 20px;
    font-family: 'Roboto', sans-serif;
}

.contact a{
    text-decoration: none;
    color: black;
}

nav.a_propos{
    font-size: 1.5rem;
    right: 7%;
    top: 20px;
    font-family: 'Roboto', sans-serif;
}

.a_propos a{
    text-decoration: none;
    color: black;
}

.titre{
    text-align: left;
    margin-top: 200px;
    margin-left: 400px;
    font-size: 5rem;
}

.degrade{
    background: linear-gradient(to left, #810909, #F48574,#F2D173);
    height: 1500px;
}

.img_accueil{
    width: 562px;
    height: 474px;
    position: absolute;
    left: 1000px;
    top: 200px;
}

.sous_titre{
    font-size: 2rem;
    width: 50%;
    margin-left: 10%;
    text-align: center;
    position: relative;
    top: 180px;
    color: white;
}

.icone_parent{
    columns: 3;
    position: relative;
    top: 350px
}

.icone_parent a{
    text-decoration: none;
    color: white;
}

.icone_parent p{
    color: white;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.icone{
    height: 270px;
    width: 271px;
    margin-left: 180px;
}

.break{
    break-after: column;
}

.prefere{
    text-align: center;
    font-size: 2rem;
    position: relative;
    top: 450px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
}