*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;

    background-image: url(img/back_metiers-info.svg);
    background-repeat: no-repeat;
    background-position: top 56% left;
    background-size: contain;
    min-width: 1000px;
}

/*DIMENSION DU HEADER*/
header{
    height: 103.11vh;
    font-family: 'Poppins', sans-serif;
    min-width: 1100px;
}

/*NAVIGATION*/
nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.875rem;

    height: 140px;
}

nav a img {
    width: 216px;
    height: 101px;
    margin: 39px 0 0 46px;
}

nav a[href="page_a-propos.html"] {
    width: 118px;
    height: 37px;
    margin: 55px 70px 0 0;
    float: right;
}

nav a[href="page_contact.html"] {
    width: 102px;
    height: 37px;
    margin: 55px 45px 0 0;
    float: right;
}

nav a {
    text-decoration: none;
    color: black;
}

/*TRAVAIL SUR L'IMAGE DE LA VOYANTE DANS LE HEADER*/
header nav~img{
    width: 20.2898vw;
    height: 22.855vw;
    margin: 5.417% 0 0 59.115%;
}

/*TRAVAIL SUR LE H1 DANS LE HEADER*/
header h1{
    font-weight: 800;
    font-size: 5rem;

    position: absolute;
    left: 16%;
    top: 42.963%;
    margin: 0;
}

/*TRAVAIL SUR LE H2 DANS LE HEADER*/
header h2{
    width: 62.588%;

    font-size: 2.5rem;
    font-weight: 300;
    color: white;
    text-align: center;

    position: absolute;
    left: 16%;
    top: 84.97%;
    margin: 0;
    min-width: 750px;
    max-width: 1330px;
}

/*PLACEMENT, DIMENSION, POLICE D'ECRITURE DES ELEMENTS PRINCIPAUX*/
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

    font-family: 'Poppins', sans-serif;

    margin: 0 6.25%;
    min-width: 1000px;
}

/*TRAVAIL SUR LES LIENS DANS LE MAIN*/
main a{
    color: white;
    font-weight: 700;
    font-size: 1.5625rem;
    text-align: center;
    text-decoration: none;

    margin: 7.143% 5.06% 0 5.06%;
    width: 22.62%;
    height: 35.802vh;

    background-image: url(img/boule_info.png);
    background-size: 65.78947% 30vh;
    background-repeat: no-repeat;
    background-position: top;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*TRAVAIL SUR LES HOVER PERSONNALISES LIENS DANS LE MAIN*/
a[href="dev_web_info.php"]:hover {
    background-image: url(img/icone_metiers-7.png);
    background-size: 82.013% 82.013%;
}

a[href="admin_reseaux_info.php"]:hover {
    background-image: url(img/icone_metiers-9.png);
    background-size: 82.013% 82.013%;
}

a[href="inte_web_info.php"]:hover {
    background-image: url(img/icone_metiers-8.png);
    background-size: 82.013% 82.013%;
}

a[href="anim2D3D_info.php"]:hover {
    background-image: url(img/icone_metiers-10.png);
    background-size: 82.013% 82.013%;
}

a[href="dev_mobile_info.php"]:hover {
    background-image: url(img/icone_metiers-11.png);
    background-size: 82.013% 82.013%;
}

a[href="admin_BDD_info.php"]:hover {
    background-image: url(img/icone_metiers-12.png);
    background-size: 82.013% 82.013%;
}

/*TRAVAIL SUR LES PARAGRAPHES DANS LE MAIN*/
main p{
    margin: 30px 0 0 0;
    height: 35px;

    opacity: 0;
}

main a:hover p {
    opacity: 1;
}

/*TRAVAIL SUR LES LIENS DANS LE MAIN VERS LA PAGE COMMUNICATION*/
.lien {
    font-size: 1.5625rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: black;

    margin: 29.688% 0 85px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lien img{
    width: 20px;
    height: 20px;
    margin-top: 22px;
}

/*AJOUT DE MEDIAS QUERIES POUR LE FLUIDITE*/
@media screen and (max-width:1400px){
    body{
        background-size: auto 80%;
    }
}
@media screen and (min-width:1900px){
    a[href="dev_web_info.php"], a[href="admin_reseaux_info.php"], a[href="inte_web_info.php"], a[href="anim2D3D_info.php"], a[href="dev_mobile_info.php"], a[href="admin_BDD_info.php"]{
        background-size: 250px 310px;
    }
    a[href="dev_web_info.php"]:hover, a[href="admin_reseaux_info.php"]:hover, a[href="inte_web_info.php"]:hover, a[href="anim2D3D_info.php"]:hover, a[href="dev_mobile_info.php"]:hover, a[href="admin_BDD_info.php"]:hover{
        background-size: 310px 310px;
    }
    main a{
        width: 380px;
        height: 375px;
    }
}
@media screen and (max-width:1475px){
    header h1{
        font-size: 4rem;
    }
}
@media screen and (max-width:1250px){
    header h1{
        font-size: 3.5rem;
    }
}
@media screen and (max-width:1000px){
    header nav~img{
        width: 205px;
        height: 235px;
        margin: 60px 0 0 650px;
    }
}