body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.logo{
    border-radius: 45%;
    border-color: black;
    border-style: solid;
    display: block;
    width: 5%;
    text-align: center;
    margin-left: 150px;
    height: 40px;
}

nav{
    position: absolute;
}

nav.contact{
    font-size: 1.5rem;
    right: 2%;
    top: 20px;
    font-family: 'Roboto', sans-serif;    
    text-decoration: none;
    color: black;
}

.contact a{
    text-decoration: none;
    color: black;
}

nav.a_propos{
    font-size: 1.5rem;
    right: 7%;
    top: 20px;
    font-family: 'Roboto', sans-serif;
}

.a_propos a{
    text-decoration: none;
    color: black;
}

.titre{
    text-align: left;
    margin-top: 200px;
    margin-left: 400px;
    font-size: 5rem;
}

.degrade{
    background: linear-gradient(to left, #1B3D6C, #679CE2, #A4DDF3);
    height: 1300px;
}

.dessin_info{
    width: 750px;
    height: 500px;
    position: absolute;
    left: 1000px;
    top: 200px;
}

.sous_titre{
    font-size: 2rem;
    width: 50%;
    margin-left: 10%;
    text-align: center;
    position: relative;
    top: 300px;
    color: white;
}

.icone_parent{
    columns: 3 50px;
    position: relative;
    top: 420px
}

.icone_parent a{
    text-decoration: none;
    color: white;
}

.icone_parent p{
    color: white;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.icone{
    height: 200px;
    width: 250px;
    margin-left: 180px;
}

.icone_dev_web{
    height: 205px;
    width: 290px;
    margin-left: 170px;
}

.icone_inte_web{
    height: 205px;
    width: 280px;
    margin-left: 175px;
}


.prefere{
    text-align: center;
    font-size: 2rem;
    position: relative;
    top: 450px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
}

.accueil_com{
    text-decoration: none;
    color: black;
}