
*::before,
*::after {
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100vh;
    margin: 0;
    /* min-width: 700px; */
    white-space: nowrap;
   
    


}

/* navigation */

nav{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.875rem;

    height: 140px;
}

nav a img{
    width: 216px;
    height: 101px;
    margin-left: 46px;
    margin-top: 39px;
}

nav a[href="page_a-propos.html"] {
    width: 118px;
    height: 37px;
    margin-right: 69px;
    margin-top: 56px;
    float: right;
}

nav a[href="page_contact.html"] {
    width: 102px;
    height: 37px;
    margin-right: 46px;
    margin-top: 56px;
    float: right;
}

nav a {
    text-decoration: none;
    color: black;
}

main{
    
    background-image: url(img/back_accueil2.svg);
    background-position: top, bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    width:100vw;
    border: rgba(0, 0, 0, 0) solid 1px;
    color: white;
    margin-top: 5.72%;

}

/* titre */

main h1{
    display: block;
    margin-top:9.64%;
    margin-left: 7%;

    font-size: 4.25rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

    width: 36.82vw;

}



/* reste du texte */
main .box{

    margin-left: 75px;
    font-size: 1.5625rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 62px;

    text-align: center;
    width:47.6vw;

    align-items: center;
    margin-bottom: 5.2%;
}

main .box .p1{
    margin-bottom: 8%;
}

/* bouton c'est parti */
.bouton1{
    height: 5.375rem;
    width: 21.75rem;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 50px;

    text-decoration: none;
    background-color: white;
    color: black;


  padding: 1rem;
  transition: all 0.5s;
  position: relative;
}

.bouton1::after {
    content: ">";
    font-family: 'Poppins',sans-serif;
    font-size: 3rem;
    position: absolute;
    left: 85%;
    top: 7%;
    right: 5%;
    bottom: 0;
    opacity: 0;
}

.bouton1:hover {
    background: #ffffff;
    transition: all 0.5s;
    border-radius: 50px;
    box-shadow: 0px 6px 15px #42424261;
    padding: 1rem 3.5rem 1rem 1.5rem;
    
}

.bouton1:hover::after {
    opacity: 1;
    transition: all 0.5s;
}



main .p2{
    margin-top: 8%;
    margin-bottom: 3%;

}

/* bouton informatique */

.bouton2{

    
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    background-color:#A4C6F3;
    text-decoration: none;
    color: black;
    margin-bottom: 10%;
    
    padding: 0.65rem;
    transition: all 0.5s;
    position: relative;
}

.bouton2::after {
    content: ">";
    font-family: 'Poppins',sans-serif;
    font-size: 2rem;
    position: absolute;
    left: 85%;
    top: 10%;
    right: 5%;
    bottom: 0;
    opacity: 0;
}

.bouton2:hover {
    background: #A4C6F3;
    transition: all 0.5s;
    border-radius: 50px;
    box-shadow: 0px 6px 15px #42424261;
    padding: 0.65rem 2.5rem 0.65rem 1.5rem;
    
}

.bouton2:hover::after {
    opacity: 1;
    transition: all 0.5s;
}

/* bouton communication */

.bouton3{

    font-size: 1.5625rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 50px;
    margin-left: 2.13%;
    border: none;
    background-color: #F48574;
    text-decoration: none;
    color: black;
    padding: 10px;

    padding: 0.65rem;
    transition: all 0.5s;
    position: relative;
}

.bouton3::after {
    content: ">";
    font-family: 'Poppins',sans-serif;
    font-size: 2rem;
    position: absolute;
    left: 85%;
    top: 10%;
    right: 5%;
    bottom: 0;
    opacity: 0;
}

.bouton3:hover {
    background: #F48574;;
    transition: all 0.5s;
    border-radius: 50px;
    box-shadow: 0px 6px 15px #42424261;
    padding: 0.65rem 2.5rem 0.65rem 1.5rem;
    
}

.bouton3:hover::after {
    opacity: 1;
    transition: all 0.5s;
}

/* image voyante */

.voyante{

    
    position: absolute;

    top: 18.98vh;
    left: 57.29vw;
    height: 29.7vw;
    width: 26.3vw;
}